In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_app_train = pd.read_csv('application_train.csv')
df_app_train.set_index('SK_ID_CURR', inplace = True)
df_app_train.head()

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
# Dataframe describe
desc = df_app_train.describe()
desc

,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,307511.000000,307511.000000,3.075110e+05,3.075110e+05,307499.000000,3.072330e+05,307511.000000,307511.000000,307511.000000,307511.000000,...,307511.000000,307511.000000,307511.000000,307511.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000
mean,0.080729,0.417052,1.687979e+05,5.990260e+05,27108.573909,5.383962e+05,0.020868,-16036.995067,63815.045904,-4986.120328,...,0.008130,0.000595,0.000507,0.000335,0.006402,0.007000,0.034362,0.267395,0.265474,1.899974
std,0.272419,0.722121,2.371231e+05,4.024908e+05,14493.737315,3.694465e+05,0.013831,4363.988632,141275.766519,3522.886321,...,0.089798,0.024387,0.022518,0.018299,0.083849,0.110757,0.204685,0.916002,0.794056,1.869295
min,0.000000,0.000000,2.565000e+04,4.500000e+04,1615.500000,4.050000e+04,0.000290,-25229.000000,-17912.000000,-24672.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,1.125000e+05,2.700000e+05,16524.000000,2.385000e+05,0.010006,-19682.000000,-2760.000000,-7479.500000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,1.471500e+05,5.135310e+05,24903.000000,4.500000e+05,0.018850,-15750.000000,-1213.000000,-4504.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,0.000000,1.000000,2.025000e+05,8.086500e+05,34596.000000,6.795000e+05,0.028663,-12413.000000,-289.000000,-2010.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,1.000000,19.000000,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,0.072508,-7489.000000,365243.000000,0.000000,...,1.000000,1.000000,1.000000,1.000000,4.000000,9.000000,8.000000,27.000000,261.000000,25.000000

In [4]:
df_app_test = pd.read_csv('application_test.csv')
df_app_test.set_index('SK_ID_CURR', inplace = True)
df_app_test.head()

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,Unaccompanied,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,Unaccompanied,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,NaN,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,Unaccompanied,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,Unaccompanied,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Combine test and train for feature engineering. Set the TARGET for test to nan
df_app_test['TARGET']= np.nan

# Append the dataframes
df_application = df_app_train.append(df_app_test, ignore_index = False, sort = True)

In [6]:
df_application['TARGET'].value_counts()

0.0    282686
1.0     24825
Name: TARGET, dtype: int64

In [7]:
# Find features with missing values > 60%
missing_values = df_app_train.isnull().sum()
missing_values = missing_values[missing_values/len(df_app_train) > 0.60] 
print(missing_values.sort_values(ascending = False))

COMMONAREA_AVG              214865
COMMONAREA_MEDI             214865
COMMONAREA_MODE             214865
NONLIVINGAPARTMENTS_AVG     213514
NONLIVINGAPARTMENTS_MODE    213514
NONLIVINGAPARTMENTS_MEDI    213514
FONDKAPREMONT_MODE          210295
LIVINGAPARTMENTS_MEDI       210199
LIVINGAPARTMENTS_MODE       210199
LIVINGAPARTMENTS_AVG        210199
FLOORSMIN_AVG               208642
FLOORSMIN_MODE              208642
FLOORSMIN_MEDI              208642
YEARS_BUILD_MODE            204488
YEARS_BUILD_MEDI            204488
YEARS_BUILD_AVG             204488
OWN_CAR_AGE                 202929
dtype: int64

In [8]:
# Drop columns with more than 60% of data missing
missing_values_columns = ['COMMONAREA_MODE','COMMONAREA_MEDI', 'COMMONAREA_AVG' , 'NONLIVINGAPARTMENTS_MODE',
                          'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAPARTMENTS_AVG', 'LIVINGAPARTMENTS_MODE',
                         'LIVINGAPARTMENTS_MEDI', 'LIVINGAPARTMENTS_AVG','FLOORSMIN_MODE','FLOORSMIN_MEDI',
                          'FLOORSMIN_AVG' ,'YEARS_BUILD_MODE','YEARS_BUILD_MEDI', 'YEARS_BUILD_AVG', 'OWN_CAR_AGE',
                         'COMMONAREA_MODE', 'FONDKAPREMONT_MODE'  ]

df_application = df_application.drop(columns = missing_values_columns )

In [9]:
# Drop features based on correlation 
corr_matrix = df_app_train.corr().abs()

# Upper triangle of correlations
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))
upper.head()

# Threshold for removing correlated variables
threshold = 0.9

# Select columns with correlations above threshold
to_drop = [column for column in upper.columns if any(upper[column] > threshold)]

labels = ['AMT_GOODS_PRICE','APARTMENTS_MEDI','APARTMENTS_MODE','BASEMENTAREA_MEDI','BASEMENTAREA_MODE',
 'ELEVATORS_MEDI','ELEVATORS_MODE','ENTRANCES_MEDI','ENTRANCES_MODE','FLAG_EMP_PHONE','FLOORSMAX_MEDI',
 'FLOORSMAX_MODE','LANDAREA_MEDI','LANDAREA_MODE','LIVINGAREA_AVG',
 'LIVINGAREA_MEDI','LIVINGAREA_MODE','NONLIVINGAREA_MEDI','NONLIVINGAREA_MODE',
 'TOTALAREA_MODE', 'OBS_60_CNT_SOCIAL_CIRCLE',
 'REGION_RATING_CLIENT_W_CITY','TOTALAREA_MODE','YEARS_BEGINEXPLUATATION_MEDI','YEARS_BEGINEXPLUATATION_MODE']
df_application = df_application.drop(columns =labels)

In [10]:
# Create a label encoder object
le = LabelEncoder()
le_count = 0

# Iterate through the columns
for col in df_application:
    if df_application[col].dtype == 'object':
        # If 2 or fewer unique categories
        if len(list(df_application[col].unique())) <= 2:
            # Train on the training data
            le.fit(df_application[col])
            # Transform both training and testing data
            df_application[col] = le.transform(df_application[col])
            
            # Keep track of how many columns were label encoded
            le_count += 1
print('%d columns were label encoded.' % le_count)

# one-hot encoding of categorical variables
df_application = pd.get_dummies(df_application)

print('Training Features shape: ', df_application.shape)

3 columns were label encoded.
Training Features shape:  (356255, 198)

In [12]:
#train = df_app_train
#train_labels = train["TARGET"]
#train_ids = train['SK_ID_CURR']
#train = train.drop(columns = ['SK_ID_CURR'])
#train = train.drop(columns = ['TARGET'])

In [13]:
# Training 
values = [0,1]
df_app_train = df_application[df_application.TARGET.isin(values)]
df_app_train = df_app_train.fillna(0)
df_app_train = df_app_train.reset_index()
Y  = df_app_train["TARGET"]
df_app_train.replace(np.inf, 0, inplace=True)
X = df_app_train.drop(['TARGET'], axis = 1)

In [14]:
# featuretools for automated feature engineering
import featuretools as ft

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, roc_auc_score
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.30, shuffle=False)
model = RandomForestClassifier(n_estimators=150)

In [15]:
model.fit(X_train, y_train)
probs = model.predict_proba(X_test)
print('AUC score of {:.2f}'.format(roc_auc_score(y_test, probs[:,1])))

AUC score of 0.71

In [16]:
feature_importances =[]
feature_imps = [(imp, X.columns[i]) for i, imp in enumerate(model.feature_importances_)]
feature_imps.sort()
feature_imps.reverse()
print('Random Forest Feature Importances:')
for i, f in enumerate(feature_imps[0:len(X.columns)]):
    if (f[0] <= 0):
        print('{}: {} [{:.3f}]'.format(i + 1, f[1], f[0]/feature_imps[0][0]))
        feature_importances.append(f[1])

Random Forest Feature Importances:
194: NAME_INCOME_TYPE_Maternity leave [0.000]
195: NAME_INCOME_TYPE_Businessman [0.000]
196: NAME_FAMILY_STATUS_Unknown [0.000]
197: FLAG_MOBIL [0.000]
198: FLAG_DOCUMENT_12 [0.000]

In [17]:
# Remove unimportant features
df_application = df_application.drop(columns = feature_importances)

In [18]:
df_application_save = df_application

In [19]:
# read bureau balance
df_bureau_balance = pd.read_csv('bureau_balance.csv')
# print(df_bureau_balance.head(5))
# df_bureau_balance.describe()

In [20]:
# unique class in categorical data
#df_application.select_dtypes('object').apply(pd.Series.nunique, axis = 0)

In [21]:
# read bureau data
df_bureau = pd.read_csv('bureau.csv')
# print(df_bureau.head(5))
# df_bureau.describe()

In [22]:
# read credit_card balance
df_credit_card_balance = pd.read_csv('credit_card_balance.csv')
# print(df_credit_card_balance.head(5))
# df_credit_card_balance.describe()

In [23]:
# read HomeCredit_columns_description
#df_HomeCredit_columns_description = pd.read_csv('HomeCredit_columns_description.csv')
#print(df_HomeCredit_columns_description.head(5))
#df_HomeCredit_columns_description.describe()

In [24]:
# read df_installments_payments
df_installments_payments = pd.read_csv('installments_payments.csv')
# print(df_installments_payments.head(5))
# df_installments_payments.describe()

In [25]:
# read df_installments_payments
df_POS_CASH_balance = pd.read_csv('POS_CASH_balance.csv')
# print(df_POS_CASH_balance.head(5))
# df_POS_CASH_balance.describe()

In [26]:
# read previous_application
df_previous_application = pd.read_csv('previous_application.csv')
# print(df_previous_application.head(5))
# df_previous_application.describe()

In [27]:
# Use Backward elimination for feature elimination
values = [0,1]
df_app_train = df_application[df_application.TARGET.isin(values)]
Y  = df_app_train["TARGET"].values
X = df_app_train.drop(['TARGET'], axis = 1).values

In [28]:
y= Y

# Taking care of missing data
from sklearn.preprocessing import Imputer
imputer = Imputer(missing_values = 'NaN', strategy = 'mean', axis = 0)
imputer = imputer.fit(X[:, :])
X[:, :] = imputer.transform(X[:, :])

In [ ]:
# ======
#import statsmodels.formula.api as sm
#X = np.append(arr=np.ones((307511, 1)).astype(int), values=X, axis=1)

# Backward elimination
#X_opt = X[:, :]

#def backwardElimination(x, sl):
#    numVars = len(x[0])
#    for i in range(0, numVars):
#        regressor_OLS = sm.OLS(y, x).fit()
#        maxVar = max(regressor_OLS.pvalues).astype(float)
#        if maxVar > sl:
#            for j in range(0, numVars - i):
#                if (regressor_OLS.pvalues[j].astype(float) == maxVar):
#                   x = np.delete(x, j, 1)
#    return x
#SL = 0.05
#X_opt = X[:, :]
#X_Modeled = backwardElimination(X_opt, SL)
# =====

In [29]:
from sklearn.model_selection import GridSearchCV

class EstimatorSelectionHelper:
    
    def __init__(self, models, params):
        if not set(models.keys()).issubset(set(params.keys())):
            missing_params = list(set(models.keys()) - set(params.keys()))
            raise ValueError("Some estimators are missing parameters: %s" % missing_params)
        self.models = models
        self.params = params
        self.keys = models.keys()
        self.grid_searches = {}
    
    def fit(self, X, y, cv=3, n_jobs=3, verbose=1, scoring=None, refit=False):
        for key in self.keys:
            print("Running GridSearchCV for %s." % key)
            model = self.models[key]
            params = self.params[key]
            gs = GridSearchCV(model, params, cv=cv, n_jobs=n_jobs, 
                              verbose=verbose, scoring=scoring, refit=refit,
                              return_train_score=True)
            gs.fit(X,y)
            self.grid_searches[key] = gs    
    
    def score_summary(self, sort_by='mean_score'):
        def row(key, scores, params):
            d = {
                 'estimator': key,
                 'min_score': min(scores),
                 'max_score': max(scores),
                 'mean_score': np.mean(scores),
                 'std_score': np.std(scores),
            }
            return pd.Series({**params,**d})
                      
        rows = []
        for k in self.grid_searches:
            print(k)
            params = self.grid_searches[k].cv_results_['params']
            scores = []
            for i in range(self.grid_searches[k].cv):
                key = "split{}_test_score".format(i)
                r = self.grid_searches[k].cv_results_[key]        
                scores.append(r.reshape(len(params),1))

            all_scores = np.hstack(scores)
            for p, s in zip(params,all_scores):
                rows.append((row(k, s, p)))
        
        df = pd.concat(rows, axis=1).T.sort_values([sort_by], ascending=False)
        
        columns = ['estimator', 'min_score', 'mean_score', 'max_score', 'std_score']
        columns = columns + [c for c in df.columns if c not in columns]
        
        return df[columns]

In [30]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.svm import SVC
from xgboost.sklearn import XGBClassifier
DTC = DecisionTreeClassifier(random_state = 11, max_features = "auto", class_weight = "auto",max_depth = None)


models1 = { 
    'RandomForestClassifier': RandomForestClassifier(),
    'GradientBoostingClassifier': GradientBoostingClassifier(),
    'XGBClassifier' : XGBClassifier()
    #'AdaBoostClassifier': AdaBoostClassifier(base_estimator = DTC),
    #,   # 'ExtraTreesClassifier': ExtraTreesClassifier(),
    #'SVC': SVC()
}

params1 = {     
   'RandomForestClassifier': { 'n_estimators': [16, 32, 150, 200] },
    'GradientBoostingClassifier': { 'n_estimators': [16, 32], 'learning_rate': [0.8, 1.0] },
    'XGBClassifier' : {'learning_rate': [0.05, 0.01], 'n_estimators': [500], 'max_depth' : [3], 'colsample_bytree' :[0.4]}
    #'ExtraTreesClassifier': { 'n_estimators': [16, 32] },
    #,'AdaBoostClassifier':  {"base_estimator__criterion" : ["gini", "entropy"],
    #          "base_estimator__splitter" :   ["best", "random"],
    #          "n_estimators": [1, 2]},
    #'SVC': [
    #   {'kernel': ['linear'], 'C': [1, 10]},
     #  {'kernel': ['rbf'], 'C': [1, 10], 'gamma': [0.001, 0.0001]}]
}

In [31]:
helper1 = EstimatorSelectionHelper(models1, params1)
helper1.fit(X, Y, scoring='roc_auc', n_jobs=2)
helper1.score_summary(sort_by='max_score')

Running GridSearchCV for RandomForestClassifier.
Fitting 3 folds for each of 4 candidates, totalling 12 fits

[Parallel(n_jobs=2)]: Done  12 out of  12 | elapsed:  8.5min finished

Running GridSearchCV for GradientBoostingClassifier.
Fitting 3 folds for each of 4 candidates, totalling 12 fits

[Parallel(n_jobs=2)]: Done  12 out of  12 | elapsed: 61.6min finished

Running GridSearchCV for XGBClassifier.
Fitting 3 folds for each of 2 candidates, totalling 6 fits

[Parallel(n_jobs=2)]: Done   6 out of   6 | elapsed: 100.0min finished
/Users/cheche/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:50: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

RandomForestClassifier
GradientBoostingClassifier
XGBClassifier

,estimator,min_score,mean_score,max_score,std_score,colsample_bytree,learning_rate,max_depth,n_estimators
8,XGBClassifier,0.749822,0.753025,0.75528,0.00232724,0.4,0.05,3,500
5,GradientBoostingClassifier,0.741842,0.744779,0.74633,0.00207807,NaN,0.8,NaN,32
9,XGBClassifier,0.736602,0.740221,0.74383,0.00295082,0.4,0.01,3,500
7,GradientBoostingClassifier,0.731014,0.737604,0.742565,0.00485423,NaN,1,NaN,32
4,GradientBoostingClassifier,0.738739,0.74041,0.7418,0.00126517,NaN,0.8,NaN,16
6,GradientBoostingClassifier,0.725578,0.732799,0.738606,0.00541171,NaN,1,NaN,16
3,RandomForestClassifier,0.72095,0.722987,0.726315,0.00237333,NaN,NaN,NaN,200
2,RandomForestClassifier,0.717965,0.719701,0.722403,0.00193655,NaN,NaN,NaN,150
1,RandomForestClassifier,0.681899,0.683083,0.684993,0.00136341,NaN,NaN,NaN,32
0,RandomForestClassifier,0.651531,0.653898,0.655779,0.00176829,NaN,NaN,NaN,16

In [32]:
values = [0,1]
df_app_train = df_application[df_application.TARGET.isin(values)]
X_test = df_application[~df_application.TARGET.isin(values)]
Y_train = df_app_train["TARGET"]
X_train = df_app_train.drop(['TARGET'], axis = 1)
X_test = X_test.drop(['TARGET'], axis = 1)

In [33]:
Y_train = Y_train.astype('int64')

In [34]:
# Create model with highest score
classifier = XGBClassifier(learning_rate=0.05,n_estimators=500,max_depth=3,colsample_bytree=0.4 )
xgb = classifier.fit(X_train, Y_train, eval_metric = 'auc')
prediction = xgb.predict(X_test)

/Users/cheche/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [36]:
# Distribution of 'TARGET' in Train data
Y_test = prediction
unique, counts = np.unique(Y_test, return_counts=True)
print (np.asarray((unique, counts)).T)

[[    0 48661]
 [    1    83]]

In [37]:
# Distribution of 'TARGET' in Train data
unique, counts = np.unique(Y_train, return_counts=True)
print (np.asarray((unique, counts)).T)

[[     0 282686]
 [     1  24825]]

In [38]:
X_test.reset_index(level=0, inplace=True)

In [40]:
X_test

,SK_ID_CURR,AMT_ANNUITY,AMT_CREDIT,AMT_INCOME_TOTAL,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_YEAR,...,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,WEEKDAY_APPR_PROCESS_START_FRIDAY,WEEKDAY_APPR_PROCESS_START_MONDAY,WEEKDAY_APPR_PROCESS_START_SATURDAY,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY
0,100001,20560.5,568800.0,135000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,1,0,0,0,0,0,0,1,0
1,100005,17370.0,222768.0,99000.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0,0,0,1,0,0,0,0,0,0
2,100013,69777.0,663264.0,202500.0,0.0,0.0,0.0,1.0,0.0,4.0,...,0,0,0,0,1,0,0,0,0,0
3,100028,49018.5,1575000.0,315000.0,0.0,0.0,0.0,0.0,0.0,3.0,...,1,0,0,0,0,0,0,0,0,1
4,100038,32067.0,625500.0,180000.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,0,0,0,0
5,100042,34600.5,959688.0,270000.0,0.0,0.0,0.0,1.0,0.0,2.0,...,0,0,0,0,1,0,0,0,0,0
6,100057,22117.5,499221.0,180000.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,1,0,0
7,100065,14220.0,180000.0,166500.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0,0,0,1,0,0,0,0,0,0
8,100066,28957.5,364896.0,315000.0,0.0,0.0,0.0,0.0,0.0,5.0,...,0,1,0,0,0,0,0,1,0,0
9,100067,5337.0,45000.0,162000.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0,0,0,0,0,0,0,0,1,0
10,100074,25447.5,675000.0,67500.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,1,0,0,0,0,0,0,1,0
11,100090,16848.0,261621.0,135000.0,0.0,0.0,0.0,0.0,0.0,5.0,...,0,0,0,1,0,0,0,0,0,0
12,100091,23539.5,296280.0,247500.0,0.0,0.0,0.0,1.0,0.0,3.0,...,0,0,0,0,0,0,0,1,0,0
13,100092,18535.5,360000.0,90000.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0,0,0,0,0,0,0,0,1,0
14,100106,7875.0,157500.0,180000.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,0
15,100107,21690.0,296280.0,180000.0,0.0,0.0,0.0,1.0,0.0,3.0,...,0,1,0,0,0,0,0,0,1,0
16,100109,26041.5,407520.0,202500.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0,0,0,0,0,1,0,0,0,0
17,100117,22117.5,499221.0,90000.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0,0,0,1,0,0,0,0,0,0
18,100128,23526.0,431280.0,225000.0,0.0,0.0,0.0,3.0,0.0,4.0,...,1,0,0,0,0,0,0,1,0,0
19,100141,46741.5,478498.5,175500.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,1,0
20,100150,19242.0,225000.0,99000.0,0.0,0.0,0.0,1.0,0.0,2.0,...,1,0,0,0,0,0,0,0,1,0
21,100168,16443.0,266652.0,157500.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0,1,0,0,0,0,0,0,1,0
22,100169,27702.0,540000.0,135000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,1,0
23,100170,42493.5,1313212.5,337500.0,0.0,0.0,0.0,0.0,0.0,6.0,...,1,0,0,0,0,0,0,0,1,0
24,100171,29245.5,539100.0,157500.0,0.0,0.0,0.0,1.0,0.0,4.0,...,0,0,0,0,0,0,0,0,0,1
25,100172,12334.5,225000.0,76500.0,0.0,0.0,0.0,1.0,0.0,2.0,...,0,0,0,0,0,0,0,0,1,0
26,100184,10759.5,256032.0,112500.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0,1,0,0,0,0,0,1,0,0
27,100187,25726.5,501363.0,225000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,1,0,0,0,0,0,1,0,0
28,100212,23107.5,450000.0,90000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,1,0,0,0,0,0
29,100222,34074.0,945000.0,360000.0,0.0,0.0,0.0,1.0,0.0,3.0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48714,455963,43366.5,547272.0,360000.0,0.0,0.0,0.0,2.0,0.0,1.0,...,0,0,0,0,0,0,0,0,1,0
48715,455965,57519.0,900000.0,315000.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0,0,0,0,0,0,0,1,0,0
48716,456007,16398.0,318645.0,135000.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1,0,0,1,0,0,0,0,0
48717,456008,13455.0,180000.0,81000.0,0.0,0.0,0.0,2.0,0.0,3.0,...,0,0,0,0,0,0,0,0,1,0
48718,456009,19530.0,360000.0,225000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,0
48719,456010,35374.5,690313.5,112500.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,0,1
48720,456011,23134.5,323460.0,171000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,1,0,0,0,0,0,0,1,0
48721,456013,37129.5,468333.0,130500.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,0
48722,456028,13284.0,166500.0,220500.0,0.0,0.0,0.0,1.0,0.0,3.0,...,0,0,0,0,0,0,1,0,0,0
48723,456058,16213.5,315000.0,67500.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
48724,456111,17707.5,514710.0,112500.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,1,0,0,1,0,0,0,0,0
48725,456114,24543.0,450000.0,45000.0,0.0,0.0,0.0,1.0,0.0,2.0,...,0,0,0,0,0,0,0,1,0,0
48726,456115,37917.0,1002339.0,225000.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0,0,0,0,0,1,0,0,0,0
48727,456116,15291.0,149256.0,180000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,0,1
48728,456119,38398.5,685386.0,247500.0,0.0,0.0,0.0,1.0,0.0,3.0,...,0,0,0,1,0,0,0,0,0,0
48729,456120,16020.0,135000.0,81000.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,1,0
48730,456122,40824.0,445095.0,157500.0,0.0,0.0,0.0,2.0,0.0,0.0,...,0,0,0,0,1,0,0,0,0,0
48731,456123,28890.0,450000.0,112500.0,0.0,0.0,0.0,1.0,0.0,2.0,...,0,1,0,0,1,0,0,0,0,0
48732,456166,54382.5,479700.0,189000.0,0.0,0.0,0.0,1.0,0.0,3.0,...,0,1,0,0,0,0,0,0,0,1
48733,456167,37764.0,1047771.0,135000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,0
48734,456168,46660.5,835686.0,135000.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0,0,0,0,0,0,0,1,0,0
48735,456169,7411.5,109008.0,85500.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,1,0,0,0,0
48736,456170,48888.0,500490.0,157500.0,0.0,0.0,0.0,0.0,0.0,2.0,...,1,0,0,0,0,0,0,0,0,1
48737,456189,28570.5,360000.0,270000.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0,1,0,0,0,0,1,0,0,0
48738,456202,23112.0,252022.5,135000.0,0.0,0.0,0.0,2.0,0.0,2.0,...,0,0,0,0,0,0,0,0,1,0
48739,456221,17473.5,412560.0,121500.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,1
48740,456222,31909.5,622413.0,157500.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,1,0,0,0,0,0
48741,456223,33205.5,315000.0,202500.0,0.0,0.0,0.0,3.0,0.0,1.0,...,0,1,0,0,0,0,0,0,0,1
48742,456224,25128.0,450000.0,225000.0,0.0,0.0,0.0,0.0,0.0,2.0,...,1,0,0,0,1,0,0,0,0,0
48743,456250,24709.5,312768.0,135000.0,0.0,0.0,0.0,1.0,0.0,4.0,...,0,0,0,0,0,0,0,0,1,0

In [41]:
# Save result file
submission = pd.DataFrame({ 'SK_ID_CURR': X_test['SK_ID_CURR'],
                            'TARGET': Y_test})
submission.to_csv("submission.csv", index=False)